<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/favicon-32x32.png" />
    <link type="text/css" rel="stylesheet" href="/styles.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">

    <title>To Do List</title>
  </head>
  <body>
    <div class="banner"></div>
    <div class="todocontent">
    <h1><%= kindOfDay %></h1>
    <div class="taskEntry">
      <form class="" action="/" method="post">
        <input type="text" name="newItem" placeholder="Add a list item" />
        <button name="button" class="">Add Item</button>
      </form>
    </div>
    <div class="listItems">
    <ul>
      <% for (var i=0; i<newListItems.length; i++) { %>
        <li><%= newListItems[i] %></li> 
    <% }; %>
    </ul>
    </div>
</div>
  </body>
</html>
